<h3>Welcome to simple parser</h3>
<form action="/save" method="POST">

    <div class="form-group">
      <label>Enter product url:</label>
      <input name="url" type="text" class="form-control" placeholder="Product url">
    </div>

    <button type="submit" class="btn btn-primary">Save to db</button>
</form>