<form action="/seed" method="POST">

    <div class="form-group">
      <label>Enter catergory url:</label>
      <input name="url" type="text" class="form-control" placeholder="Category url">
    </div>

    <button type="submit" class="btn btn-primary">Seed db</button>
</form>